input:focus::placeholder {
    color: #c5c3c3;
}

body {
    background-image: url('https://cdn.aptoide.com/imgs/b/f/c/bfc7e017717dc08d66dec74219f8faf0_feature_graphic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #0980f7;
}


.custom-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);    
    backdrop-filter: blur(8px);     
    border-top: 1px solid rgba(0, 0, 0, 0.1);
   
}

/* Estilo para los links dentro del footer */
.footer-link {
    color: #0d6efd; 
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #0a58ca;
    text-decoration: underline;
}

/* Espacio al final del body para que el footer no tape contenido */
body {
    padding-bottom: 100px;
}
